body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card { text-align:center; }

input {
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}

button {
  padding:10px;
  margin:5px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  cursor:pointer;
}

#board {
  display:grid;
  grid-template-columns:repeat(3,80px);
  gap:10px;
  margin:20px;
}

.cell {
  width:80px;
  height:80px;
  background:#1e293b;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  cursor:pointer;
}

.win { background:#22c55e !important; }

#chat {
  width:250px;
  margin:auto;
}
#chat-box {
  height:100px;
  overflow:auto;
}
